h1 {
    text-align: center;
    color: #303030;
}

.search-bar {
    width: 700px;
}

.submit_buttom {
    width: 100px;
    text-align: center;
}

.wordcloud {
    width: 500px;
    text-align: center;
}
